<section class="about" id="about" dir="rtl">
    <div class="container">

        <figure class="about-banner">
            <img src="./images/about-banner-1.png" alt=" ’гнг ѕ«ќбн ббгд“б">
            <img src="./images/about-banner-2.jpg" alt=" ’гнг ѕ«ќбн ббгд“б" class="abs-img">
        </figure>

        <div class="about-content text-end">
            <p class="section-subtitle">гд дЌд</p>

            <h2 class="h2 section-title">«бгд’… «бЏё«—н… «б—«∆ѕ… Ён  √ћн— ж»нЏ «бЏё«—« </h2>

            <p class="about-text">
                дЏгб Џбм —»Ў «бЏгб«Ѕ »√Ё÷б «бЁ—’ «бЏё«—н…° ЌнЋ дќѕг √яЋ— гд 39,000 Џгнб Ён Џѕ… ѕжб. Ё—нёд« гд «бг ќ’’нд нёѕшг ќѕг«  «Ќ —«Ён…  џЎн ћгнЏ «Ќ н«ћ« я «б”ядн… ж«б«” Ћг«—н….
            </p>

            <ul class="about-list">
                <li class="about-item">
                    <div class="about-item-icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </div>
                    <p class="about-item-text"> ’гнг –ян ббгд«“б</p>
                </li>

                <li class="about-item">
                    <div class="about-item-icon">
                        <ion-icon name="leaf-outline"></ion-icon>
                    </div>
                    <p class="about-item-text">гЌнЎ Ў»нЏн ћ–«»</p>
                </li>

                <li class="about-item">
                    <div class="about-item-icon">
                        <ion-icon name="wine-outline"></ion-icon>
                    </div>
                    <p class="about-item-text">√”бж» Ќн«… «” Ћд«∆н</p>
                </li>

                <li class="about-item">
                    <div class="about-item-icon">
                        <ion-icon name="shield-checkmark-outline"></ion-icon>
                    </div>
                    <p class="about-item-text">Ќг«н… ж√г«д Џбм гѕ«— «б”«Џ…</p>
                </li>
            </ul>

            <p class="callout">
                "д”Џм б ёѕнг ќѕг«  Џё«—н… г» я—…  б»н  ЎбЏ«  Џгб«∆д« ж ÷гд бег  ћ—»… «” Ћд«∆н…"
            </p>

            <a href="#service" class="btn">ќѕг« д«</a>
        </div>

    </div>
</section>
