<section class="cta">
    <div class="container">

        <div class="cta-card">
            <div class="card-content">
                <h2 class="h2 card-title">εα ΚΘΝΛ Ϊδ γδα ΓΝαΗγίΏ</h2>

                <p class="card-text">
                    νγίδδΗ γΣΗΪΟΚί έν ΚΝήνή Ναγί ΘΗαγδα ΗαγΛΗαν
                </p>
            </div>

            <a href="#property" class="btn cta-btn">
                <span>ΗΣΚΪΡΦ ΗαΪήΗΡΗΚ</span>
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>
        </div>

    </div>
</section>
