<section class="hero" id="home" dir="rtl">
    <div class="container">

        <div class="hero-content text-end">
            <p class="hero-subtitle">
                <ion-icon name="home"></ion-icon>
                <span>ๆ฿วแษ วแฺวัวส</span>
            </p>

            <h2 class="h1 hero-title">วศอห ฺไ ศํส รอแวใ฿ ใฺไว</h2>

            <p class="hero-text">
                ไอไ ๆ฿วแษ ฺวัํษ ใสฮีีษ ํ ใำวฺฯส฿ แแฺหๆั ฺแ์ วแฺวั วแใหวแํก ำๆวม ฿ไส สศอห ฺไ ใไาแก ิษก รๆ ฺวั วำสหใวัํ.
                แฯํไว ัํ ใไ วแฮศัวม ใำสฺฯๆไ แฮฯใส฿ ศรอฯห วแฺัๆึ ๆวแใๆวีวส.
            </p>

            <a href="#contact" class="btn">รัำแ วำสำวั฿ วแยไ</a>
        </div>

        <figure class="hero-banner">
            <img src="./images/hero-banner.png" alt="ไใๆะฬ ใไาแ อฯํห" class="w-100">
        </figure>

    </div>
</section>
