<section class="service" id="service" dir="rtl">
    <div class="container">

        <p class="section-subtitle">־ֿדַהַ</p>
        <h2 class="h2 section-title">דֽזׁ ַודַדהַ ַבֶׁם׃ם</h2>

        <ul class="service-list">

            <li>
                <div class="service-card">
                    <div class="card-icon">
                        <img src="./images/service-1.png" alt="ֳםזהֹ ַב־ֿדֹ">
                    </div>
                    <h3 class="h3 card-title">
                        <a href="#">װֱַׁ ַׁ</a>
                    </h3>
                    <p class="card-text">
                        ֳֻׁ דה דבםזה ַׁ דׁזײ בבָם בל דזהַ¡ ז׃ה׃ַֿ ם ֵםַּֿ ַבדהׂב ַב׀ם ֽבד ָו ז״ב בםו "ָםם".
                    </p>
                    <a href="#" class="card-link">
                        <span>ַָֻֽ ה דהׂב</span>
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </a>
                </div>
            </li>

            <li>
                <div class="service-card">
                    <div class="card-icon">
                        <img src="./images/service-2.png" alt="ֳםזהֹ ַב־ֿדֹ">
                    </div>
                    <h3 class="h3 card-title">
                        <a href="#">ַ׃ֶַּׁ ַׁ</a>
                    </h3>
                    <p class="card-text">
                        הזׁ ב דּדזֹ זַ׃ֹ דה ַבדהַׂב ַבדַֹֽ בבֵםַּׁ ָד־ב ַבדהַ״ בהַ׃ָ ַֽםַַּ זדםַׂהם.
                    </p>
                    <a href="#" class="card-link">
                        <span>ַ׃ׁײ ַבַַׁ</span>
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </a>
                </div>
            </li>

            <li>
                <div class="service-card">
                    <div class="card-icon">
                        <img src="./images/service-3.png" alt="ֳםזהֹ ַב־ֿדֹ">
                    </div>
                    <h3 class="h3 card-title">
                        <a href="#">ָם ַׁ</a>
                    </h3>
                    <p class="card-text">
                        ה׃ַֿ בל ׃זם זָם ַׁ ֳָײב ׃ׁ דדה דה ־בַב דהױהַ זװָֹ דבֶַהַ ַבזַ׃ֹ.
                    </p>
                    <a href="#" class="card-link">
                        <span>ַׁײ ַׁ</span>
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </a>
                </div>
            </li>

        </ul>

    </div>
</section>
